@media only screen and (max-width: 600px) {
    
}

@media only screen and (min-width: 601px) {
    #headquarters {
        width: 80%;
        height: auto;
        box-sizing: border-box;
        padding: 30px;
    }

    #headquarters > img {
        width: 100%;
        aspect-ratio: 1/0.5;
        border-radius: 20px;
    }

    #headquarters > p {
        font-size: 40px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin: 0px;
        font-weight: bold;
    }

    #content-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}