@media only screen and (max-width: 600px) {
    #footer {
        width: 100%;
        height: auto;
        background-color: red;
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    
    #footer-message {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #footer-message > p {
        font-size: 30px;
        font-weight: bold;
        margin: 0px;
        color: white;
    }

    #footer-nav {
        max-width: 900px;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #footer-nav > img {
        width: 3vw;
        aspect-ratio: 1/1;
    }

    #footer-nav > a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 6vw;
        transition: all 0.3s;
    }

    #footer-nav > a:hover {
        color: white;
    }

    #footer-nav > p {
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 6vw;
        transition: all 0.3s;
    }
}

@media only screen and (min-width: 601px) {
    #footer {
        width: 100%;
        height: 300px;
        background-color: red;
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    
    #footer-message {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer-message > p {
        font-size: 40px;
        font-weight: bold;
        margin: 0px;
        color: white;
    }

    #footer-nav {
        max-width: 900px;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #footer-nav > img {
        width: 15px;
        aspect-ratio: 1/1;
    }

    #footer-nav > a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        transition: all 0.3s;
    }

    #footer-nav > a:hover {
        color: white;
    }

    #footer-nav > p {
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        transition: all 0.3s;
    }
}